.featured {
  padding: 60px 8%;
  background-color: #ffffff;
}

.featured-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.featured-tag {
  font-size: 13px;
  letter-spacing: 2px;
  color: #777;
  margin-bottom: -30px;
}

.featured-title {
  font-family: 'Playfair Display', serif;
  font-size: 64px;
  font-weight: 700;
}

.view-all {
  font-size: 13px;
  letter-spacing: 1.5px;
  text-decoration: none;
  color: #777;
  padding-bottom: 4px;
}

.view-all:hover {
  color: #000000; 
}

.featured-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.featured-card {
  overflow: hidden;
  position: relative; /* keeps image locked */
}

.featured-card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  transform-origin: center center; /* zoom from center */
  transition: transform 0.6s ease;
}

.featured-card:hover img {
  transform: scale(1.05); /* subtle internal zoom */
}


.featured-card h3 {
  margin-top: 10px;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-weight: 600;
}



/* Responsive */
@media (max-width: 768px) {
  .featured {
    padding: 60px 6%;
  }

  .featured-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .featured-title {
    font-size: 42px;
  }

  .featured-grid {
    grid-template-columns: 1fr;
  }

  .featured-card img {
    height: 300px;
  }
}
