.shop-section {
  padding: 120px 8%;
  background: rgb(245, 245, 245);
}

/* HEADER */
.shop-header {
  max-width: 700px;
  margin-bottom: 80px;
}

.shop-tag {
  font-size: 12px;
  letter-spacing: 3px;
  color: #777;
  margin-bottom: 10px;
}

.shop-title {
  font-family: 'Playfair Display', serif;
  font-size: 100px;
  line-height: 1.05;
  font-weight: 900;
  margin-bottom: 30px;
}

/* FILTER BUTTONS */
.shopp-filters {
  display: flex;
  gap: 20px;
  margin-top: -8%;
}

.filter-btn {
  padding: 12px 26px;
  border: 1px solid #111;
  background: transparent;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.3s;
}

.filter-btn.active,
.filter-btn:hover {
  background: #111;
  color: #fff;
}

/* GRID */

.oneshop-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}

.shop-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

.oneshop-card {
  overflow: hidden;
  width: 820px;
}

.oneshop-card img {
  width: 850px;
  height: 450px;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.oneshop-card:hover img {
  transform: scale(1.08);
}

.shop-card {
  overflow: hidden;
}

.shop-card img {
  width: 400px;
  height: 450px;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.shop-card:hover img {
  transform: scale(1.08);
}

.sshop-card img {
  width: 400px;
  height: 450px;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.sshop-card:hover img {
  transform: scale(1.08);
}
/* TEXT BELOW IMAGE */
.art-type {
  font-size: 12px;
  letter-spacing: 2px;
  color: #777;
  margin: 18px 0 6px;
}

.art-title {
  font-family: "Playfair Display", serif;
  font-size: 26px;
  margin-bottom: 10px;
}

.art-desc {
  font-size: 15px;
  line-height: 1.6;
  color: #555;
  max-width: 360px;
  margin-bottom: 20px;
}

/* PRICE + BUTTON */
.art-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.art-price { 
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20%;
}

.cartt-btn {
  background: #111;
  color: #fff;
  padding: 12px 26px;
  border: none;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 20%;
}

.cartt-btn:hover {
  background: #ffc400;
  color: #000;
}





@media (max-width: 768px) {

  .shop-section {
    padding: 80px 6%;
  }

  .shop-header {
    max-width: 100%;
  }

  .shop-title {
    font-size: 54px;
  }

  .shop-filters {
    flex-wrap: wrap;
    gap: 12px;
  }

  .shop-grid,
  .oneshop-grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .shop-card,
  .sshop-card,
  .oneshop-card {
    width: 100%;
    max-width: 100%;
  }

  /* FORCE ALL IMAGES TO SAME SIZE */
  .shop-card img,
  .sshop-card img,
  .oneshop-card img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    display: block;
  }

  .art-footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .art-price,
  .cartt-btn {
    margin-bottom: 40px;
  }

}